<%= form_for(@user, :url => "/users/#{@user.username}") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, {:disabled => true}%>
  </div>
  <%= f.fields_for :profile do |profile_fields| %>
    <div class="field">
      <%= profile_fields.label :name %><br/>
      <%= profile_fields.text_field :name %>
    </div>
    <div class="field">
      <%= profile_fields.label :surname %><br/>
      <%= profile_fields.text_field :surname %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
