<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Profile:</b>
  <ul>
    <li><%= "Name : #{@user.profile.name}"%></li>
    <li><%= "Surname : #{@user.profile.surname}"%></li>
  </ul>
</p>

<p>
  <b>Friends:</b>
  <ul>
  <% @user.friends.each do |friend| %>
    <li> <%= link_to friend.username, user_path("#{friend.username}") %>
  <%end%>
  </ul>
</p>

<%if user_signed_in?%>
  <%if current_user.username.eql?(params[:id])%>
    <%= link_to 'Edit', edit_user_path(current_user.username) %> |
  <%else%>
    <%= friend_link current_user, @user%>
  <%end%>
<%end%>

<%= link_to 'Home', root_path %>
<%= link_to 'Wall', user_wall_index_path(@user.username)%>
