<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Profile</b>
  <div class="image_profile">
    <%=image_tag @user.image%>
  </div>
  <ul>
    <li><%= "Name : #{@user.profile.name}"%></li>
    <li><%= "Surname : #{@user.profile.surname}"%></li>
  </ul>
</p>

<div class="clear">
  <b>Friends:</b>
  <ul>
  <% @user.friends.each do |friend| %>
    <li> <%=image_tag friend.image, :class=> "image_friend"%><%= link_to friend.username, user_path("#{friend.username}") %></li>
  <%end%>
  </ul>
</div>

<div class="clear">
  <b>Watchers:</b>
  <ul>
  <% @user.watchers.each do |friend| %>
    <li><%=image_tag friend.image, :class=> "image_friend"%>
      <%= link_to friend.username, user_path("#{friend.username}") %>
    </li>
  <%end%>
  </ul>
</div>

<%if user_signed_in?%>
  <%if current_user.username.eql?(params[:id])%>
    <%= link_to 'Edit', edit_user_path(current_user.username) %>
  <%else%>
    <%= friend_link current_user, @user%>
  <%end%>
<%end%>

| <%= link_to 'My Feed', user_feed_path(@user.username)%>
| <%= link_to 'Wall', user_wall_path(@user.username)%>
