<!DOCTYPE html>
<html>
<head>
  <title>LangExp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="title">
        <h1>Language Experiment</h1>
      </div>
  		<% if user_signed_in? %>
  			<div class="signed_in_box">
        	<%= link_to "Sign out", destroy_user_session_path,  :method=>'delete' %>
        </div>
        <div class="signed_in_box">|</div>
        <div class='signed_in_box'>
        	Welcome  <%= link_to current_user.username, user_path(current_user.username) %>
        </div>
  		<% end %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      Ruby on Rails power!!
    </div>
  </div>
</body>
</html>
