<!DOCTYPE html>
<html>
<head>
  <title>LangExp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
  	<div id="login">
  		<% if user_signed_in? %>
  			<div>
        	<%= link_to "Sign out", destroy_user_session_path,  :method=>'delete' %>
        </div>
        <div class='float_box_right red_link'>
        	Welcome  <%= link_to current_user.username, edit_user_registration_path(current_user) %>
        </div>
  		<% end %>
  	</div>
  </div>
<%= yield %>

</body>
</html>
